// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include "art-fig-cnss.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Art ATP + Fig WLAN";
	compatible = "qcom,art-atp", "qcom,art", "qcom,artp-atp", "qcom,artp",
			"qcom,atp";
	qcom,msm-id = <707 0x10000>, <707 0x20000>, <708 0x10000>, <708 0x20000>;
	qcom,board-id = <0x21 0>,
			<0x10000021 0>; /*LP6 HW*/
};
